<div class="main-container">
    <div class="secondary-container">
        <div class="ctr">
          <div class="phone" *ngIf="step == 1">
              <div class="in">
                  <ion-icon ios="ios-person" md="md-person"></ion-icon>
                  <ion-input placeholder="Name" inputmode="text" type="text" spellcheck="false" maxlength="50" mode="ios" required="true"></ion-input>
              </div>
              <div class="in">
                  <ion-icon ios="ios-call" md="md-call"></ion-icon>
                  <ion-input placeholder="Phone Number" inputmode="tel" type="tel" spellcheck="false" maxlength="10" mode="ios" pattern="tel" required="true"></ion-input>
              </div>
  
              <div class="btn">
                  <ion-button shape="round" expand="block" (click)="sendOtp()">
                    <span *ngIf="!sendingOtp">send otp</span>
                    <span *ngIf="sendingOtp"><ion-spinner name="lines"></ion-spinner></span>
                  </ion-button>
              </div>
          </div>
  
          <div class="phone" *ngIf="step === 2">
              <h6 class="lead">Enter OTP sent to mobile number</h6>
              <h6 class="lead">9435322323</h6>
              <div class="otpInput">
                      <ion-input #otp1 autocomplete="off" (keyup)="nxt($event, otp2 , '')" autofocus=true inputmode="tel" pattern="[0-9]{6}" spellcheck="false" maxlength="1" mode="md" required="true"></ion-input>
                      <ion-input #otp2 autocomplete="off" (keyup)="nxt($event, otp3, otp1)" inputmode="tel" pattern="[0-9]{6}" spellcheck="false" maxlength="1" mode="md" required="true"></ion-input>
                      <ion-input #otp3 autocomplete="off" (keyup)="nxt($event, otp4, otp2)" inputmode="tel" pattern="[0-9]{6}" spellcheck="false" maxlength="1" mode="md" required="true"></ion-input>
                      <ion-input #otp4 autocomplete="off" (keyup)="nxt($event, '', otp3)" inputmode="tel" pattern="[0-9]{6}" spellcheck="false" maxlength="1" mode="md" required="true"></ion-input>
              </div>
              <div class="btn">
                  <ion-button shape="round" expand="block" (click)="verifyOtp()">Verify</ion-button>
              </div>
              <h6 class="lead" style="margin-top: 50px;" (click)="resendOtp()">Resend OTP</h6>
          </div>
  
          <div class="phone" *ngIf="step === 3">
            <div class="avatar" >
              <div class="unselect" *ngIf="!selectedImage">
                  <ion-icon ios="ios-images" md="md-images"></ion-icon>
                  <h6>SELECT IMAGE</h6>
              </div>
              <img *ngIf="selectedImage" src="https://content-static.upwork.com/uploads/2014/10/02123010/profilephoto_goodcrop.jpg" alt="...">
            </div>
            <div class="btn">
                <ion-button shape="round" expand="block" (click)="uploadImage()">next</ion-button>
            </div>
          </div>
  
          <div class="phone" *ngIf="step === 4">
              <div class="in">
                  <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                  <ion-input placeholder="Email" inputmode="email" type="email" spellcheck="false" maxlength="50" mode="ios" required="true"></ion-input>
              </div>
              <div class="in">
                  <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
                  <ion-input placeholder="Aadhar number" inputmode="tel" type="tel" spellcheck="false" maxlength="12" mode="ios" pattern="tel" required="true"></ion-input>
              </div>
              <div class="in">
                  <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
                  <ion-input placeholder="Password" inputmode="password" type="password" spellcheck="false" maxlength="40" mode="ios" required="true"></ion-input>
              </div>
              <div class="in">
                  <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
                  <ion-input placeholder="Confirm Password" inputmode="password" type="password" spellcheck="false" maxlength="40" mode="ios" pattern="tel" required="true"></ion-input>
              </div>
              <div class="btn">
                  <ion-button shape="round" expand="block" (click)="details()">next</ion-button>
              </div>
          </div>
  
          <div class="phone" *ngIf="step === 5">
              <div class="in">
                  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  <ion-input placeholder="Shop Name" inputmode="text" type="text" spellcheck="false" maxlength="50" mode="ios" required="true"></ion-input>
              </div>
              <div class="selectdd">
                <div class="labl">
                    <ion-label>Location</ion-label>
                </div>
                  <div class="sel">
                      <ion-select interface="popover" placeholder="">
                          <ion-select-option value="f">Lonavala</ion-select-option>
                          <ion-select-option value="m">Shivaji nagar</ion-select-option>
                      </ion-select>
                  </div>
              </div>
              <div class="btn">
                  <ion-button shape="round" expand="block" (click)="details2()">Continue</ion-button>
              </div>
          </div>
  
          <div class="phone" *ngIf="step === 6">
              <div class="in">
                  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  <ion-input placeholder="Address" inputmode="text" type="text" spellcheck="false" maxlength="50" mode="ios" required="true"></ion-input>
              </div>
              <div class="in">
                  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  <ion-input placeholder="Address (line 2)" inputmode="text" type="text" spellcheck="false" maxlength="50" mode="ios" required="true"></ion-input>
              </div>
              <div class="in">
                  <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
                  <ion-input placeholder="Address (line 3)" inputmode="text" type="text" spellcheck="false" maxlength="50" mode="ios" required="true"></ion-input>
              </div>
              <div class="btn">
                  <ion-button shape="round" expand="block" (click)="register()">Register</ion-button>
              </div>
          </div>
        </div>
    </div>
  </div>